1. Take a string as an input and check whether the input is present in the list and also print it's no.of occurances.

**Example:** a = ['1,2,3,4,5,6,'q',1,'e',2,2,3,'a',2,2]<br>
         Input = 2 <br>
         output : 2 is present in the list and no.of occurances is 5

In [ ]:
a = ["a", "b", "b", "c", "a", "v", "b"]
for i in a:
  if (i == "b"):
    print("b exists", "and", "No of occurance:", a.count("b"))

b exists and No of occurance: 3
b exists and No of occurance: 3
b exists and No of occurance: 3

2. Print the list in reverse. Take the input from the user as <br> i. No.of elements to be given in the list.<br> ii. Enter the elements.<br> output: original list: [' ', ' ', ' ']<br> Reversed list: [' ', ' ', ' ']<br>
**Example:** No.of elements : 3<br> Enter the elements: 'a','b','c'<br> output: original list: ['a','b','c']<br> Reversed list: ['c','b','a']

In [ ]:
a = int(input("Enter the no of elements: "))
b = input("Enter the elements: ")

#print(len(b))


list = b.split()
print(list)

a = []
for rev in list:
  a.insert(0, rev)
print(a)

Enter the no of elements: 4
Enter the elements: 1 2 3 4
['1', '2', '3', '4']
['4', '3', '2', '1']

3. Write a Python program to find the second largest number in given list.<br>
Examples: <br>

Input: list1 = [10, 20, 4]<br>
Output: 10<br>

Input: list2 = [70, 11, 20, 4, 100]<br>
Output: 70<br>

In [ ]:
a = [45, 20, 65, 71, 13, 16, 45, 56, 23, 49, 91, 92]
a.sort()
print(a)
print(a[-2])

[13, 16, 20, 23, 45, 45, 49, 56, 65, 71, 91, 92]
91

4. Write a Python program to print all even numbers in given list.<br>
Example:

Input: list1 = [2, 7, 5, 64, 14]<br>
Output: [2, 64, 14]

Input: list2 = [12, 14, 95, 3]<br>
Output: [12, 14]

In [ ]:
a = [82, 56, 35, 71, 46, 39]
a1 = []
for num in a:
  if num % 2 == 0:
    #print(num)
    a1.append(num)
print(a1)

[82, 56, 46]

5. Write a Python program to print all odd numbers in given list.<br>
Example:

Input: list1 = [2, 7, 5, 64, 14]<br>
Output: [7, 5]

Input: list2 = [12, 14, 95, 3, 73]<br>
Output: [95, 3, 73]

In [ ]:
a = [82, 56, 35, 71, 46, 39]
a1 = []
for num in a:
  if num % 2 != 0:
    #print(num)
    a1.append(num)
print(a1)

[35, 71, 39]